<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 7px"
            role="progressbar"
            [style.width]="getPorcentaje1"
          ></div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 7px"
            role="progressbar"
            [style.width]="getPorcentaje2"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          (valorActualizado)="progeso1 = $event"
          [valor]="progeso1"
        ></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          [valor]="progeso2"
          [class]="'btn-info'"
          (valorActualizado)="progeso2 = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
