<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">This is some text within a card block.</div>
          </div>
        </div>
      </div> -->
    </div>
    <footer class="footer">© 2022 Admin Pro by wrappixel.com</footer>
  </div>
</div>
