<div class="row">
  <div class="col-6">
    <app-doughnut
      [title]="'Ventas'"
      [labels]="['Pan', 'Refresco', 'Tacos']"
      [data]="[10, 20, 30]"
    ></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut
      title="Users"
      [data]="[50, 500, 140]"
      [labels]="['news', 'updated', 'deleted']"
    ></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut
      [title]="'Compras'"
      [labels]="['Pollo', 'Carne', 'Pescado']"
      [data]="[50, 20, 30]"
    ></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut
      title="Cambios"
      [labels]="['Ensalada', 'Frijoles', 'Frutas']"
      [data]="[40, 15, 45]"
    ></app-doughnut>
  </div>
</div>
