<div class="card">
  <div class="card-body">
    <h3>{{ title }}</h3>
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        [labels]="labels"
        [options]="charOptions"
      >
      </canvas>
    </div>
  </div>
</div>
